@charset "UTF-8";

/*

For use with the Uniform plugin:
https://github.com/5509/ui.elements

Designed by Nori Takahashi
http://webdesignrecipes.com/

*/

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}


/* Layout */

body{
	color: #555;
	background:url(images/body-bg.gif) repeat;
	font-size: 14px;
	font-family: 
    	Verdana, Arial,
    	'ヒラギノ角ゴ Pro W3',
    	'Hiragino Kaku Gothic Pro',
    	Osaka,
    	'ＭＳ Ｐゴシック', 
    	sans-serif;
}

	#container{
		width:940px;
		margin: 0 auto;
	}
	
	.half{
		width: 470px;
		float: left;
		padding-bottom: 60px;
	}
	
	fieldset{
		border: none;
		margin: 0;
		padding: 0;
	}
	


/* Setting */

h1{
	background: url(images/heading-bg.png) repeat-x 0 50%;
	text-align: center;
	margin: 40px 0 60px;
	font-size: 36px;
	font-family: 'Cagliostro', sans-serif;
}

	h1 span{
		background: url(images/body-bg.gif) repeat;
		padding: 20px 40px;
	}


h2,	
legend,
#select-label{
	margin: 0;
	padding: 0;
	font-size: 30px;
	font-family: 'Cagliostro', sans-serif;
	text-shadow: 0 1px 1px #fff;
	display: block;
	color: #555;
}

a {	color:#c65a6c;text-shadow: 0 1px 1px #fff; }
	a:hover,
	a:active{color: #fd738a;}

dt{ font-weight: bold;}
	dd{
		margin-bottom: 1em;
		font-style: italic;
	}
	
small{ padding: 20px 0; }


/* checkbox & Radio Buttons */


label.UIElm-check-label,
label.UIElm-radio-label{
	cursor: pointer;
	line-height: 22px;
	position: relative;
	padding-left: 30px;
	display: inline-block;
	margin-bottom: .5em;
}

.UIElm-radio-label input{
	position: absolute;
	top:0;
	left:0;
}

/* Checkbox */

span.checkbox {
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(images/checkbox.png) no-repeat 0 0;
	position: absolute;
	top:0;
	left: 0;
}
	
	span.checkbox.checked {
		background-position: 0 bottom; /* checked */
	}
	
	span.disabled{
		background-position: -22px 0; /* disabled */
	}
	
	span.disabled.checked{
		background-position: -22px 100%; /* checked & disabled */
	}


/* Radio Burrons */

span.radio {
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(images/radio.png) no-repeat 0 0;
	position: absolute;
	top:0;
	left: 0;
}
	
	span.radio.checked {
		background-position: 0 bottom;
	}
	
	span.radio.disabled{
		background-position: -22px 0;
	}


/* Select Box */

.UIElm-select-box{
	display: inline-block;
	position: relative;
	z-index: 0;
}

a.UIElm-select{
	display: inline-block;
	width :256px;
	height: 31px;
	padding: 0;
	background: url(images/select-box.png) no-repeat 0 0;
	line-height: 31px;
	color: #555;
	text-decoration: none;
	position: relative;
	z-index: 30;
	text-shadow: 0 1px 1px #fff;
}

	a.UIElm-select:hover{
		color: #999;
	}
	
		a.UIElm-select span{
			display: block;
			width: 236px;
			height: 31px;
			padding-left: 20px;
		}
		
			a.UIElm-select:hover span {
				background: url(images/select-box.png) no-repeat 0 100%; /* button */
			}


/* dropdown */

ul.UIElm-select-option{
	list-style: none;
	margin: 0;
	border: solid #ddd 1px;
	border-top: none;
	padding: 0 10px 10px;
	width: 193px;
	position: absolute;
	z-index: 20;
	top:28px;
	left:10px;
	background: #fff;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.05) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.05) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.05) inset;
}

	ul.UIElm-select-option li{
		border-top: 1px dashed #ddd;
		padding: 0;
		margin: 0;
		
	}
	
		ul.UIElm-select-option li a{
			display: block;
			color: #999;
			text-decoration: none;
			padding: 8px 10px;
			border-top:1px dashed #fff;
		}
		
			ul.UIElm-select-option li a:hover{
				background: #f0f0f0;
				color: #333;
				text-shadow: 0 1px 1px #fff;
			}

/* button */
#submit{
	margin-top: 30px;
    display: inline-block;
    outline: 0 none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
	font-size: 18px;
    padding: 5px 30px;
    text-shadow: 0 1px 1px #fff;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    color: #120eae;
    border: solid 1px #6c7ab4;
    background: #95a9f8;
    background: -webkit-gradient(linear, left top, left bottom, from(#c2c8fd), to(#95a9f8));
    background: -moz-linear-gradient(top,  #c2c8fd,  #95a9f8);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2c8fd', endColorstr='#95a9f8');
}

#submit:hover {
    text-decoration: none;
    background: #8495db;
    background: -webkit-gradient(linear, left top, left bottom, from(#95a9f8), to(#8495db));
    background: -moz-linear-gradient(top,  #95a9f8,  #8495db);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#95a9f8', endColorstr='#8495db');
}

#submit:active {
    position: relative;
    top: 1px;
    background: -webkit-gradient(linear, left top, left bottom, from(#95a9f8), to(#c2c8fd));
    background: -moz-linear-gradient(top,  #95a9f8,  #c2c8fd);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#95a9f8', endColorstr='#c2c8fd');
}




/* clearfix */
.clearfix:after{ 
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix{
    display: inline-block; 
}

/* clearfix for ie7 */
.clearfix{
    display: block;
}